collector {
  interface = "0.0.0.0"
  port = ${PORT}

  streams {
    good {
      name = ${STREAM_GOOD}
      region = ${REGION}
      customEndpoint = ${KINESIS_ENDPOINT}

      aws {
        accessKey = env
        secretKey = env
      }

      maxBytes = ${MAX_BYTES}
    } 
       
    bad {
      name = ${STREAM_BAD}
      region = ${REGION}
      customEndpoint = ${KINESIS_ENDPOINT}

      aws {
        accessKey = env
        secretKey = env
      }

      maxBytes = ${MAX_BYTES}
    }
  }
}