collector {
  interface = "0.0.0.0"
  port = ${PORT}

  streams {
    good = ${STREAM_GOOD}
    bad = ${STREAM_BAD}

    sink {
      region = ${REGION}
      customEndpoint = ${KINESIS_ENDPOINT}

      aws {
        accessKey = env
        secretKey = env
      }

      maxBytes = ${MAX_BYTES}
    }
  }

  "doNotTrackCookie": {
    "enabled": false,
    "name" : "foo",
    "value": "bar"
  }
}