collector {
  interface = "0.0.0.0"
  port = ${PORT}

  streams {
    good {
      name = ${TOPIC_GOOD}
      brokers = ${BROKER}
      maxBytes = ${MAX_BYTES}
    }
    bad {
      name = ${TOPIC_BAD}
      brokers = ${BROKER}
      maxBytes = ${MAX_BYTES}
    }
  }
}