collector {
  interface: "0.0.0.0"
  port: 8080

  streams {
    good: "raw"
    bad: "bad-1"

    sink {
      host: "localhost"
      port: 5672
      username: "guest"
      password: "guest"
      virtualHost: "/"
      routingKeyGood: "raw"
      routingKeyBad: "bad-1"
    }
  }
}
