collector {
  interface = "0.0.0.0"
  port = 8080

  streams {
    good {
      name = "good"
      googleProjectId = "google-project-id"
    }
    bad {
      name = "bad"
      googleProjectId = "google-project-id"
    }
  }
}
