name: telemetryIntegTest

on: push

jobs:
  integ_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: coursier/cache-action@v3
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: build
        run: |
          sbt "project stdout" assembly
          find $(pwd) -name "*.jar"
      - name: run micro
        run: >
          docker run -d
          --name micro
          --mount type=bind,source=$(pwd)/.github/workflows/integration_tests/telemetry/micro_config,destination=/config
          -p 9191:9191 snowplow/snowplow-micro:1.2.1
          --collector-config /config/config.hocon
          --iglu /config/iglu.json
      - name: run collectors
        run: |
          java -jar $(pwd)/stdout/target/scala-*/*.jar --config $(pwd)/.github/workflows/integration_tests/telemetry/sender_config/config.hocon &
          PID_C1=$!
          java -jar $(pwd)/stdout/target/scala-*/*.jar --config $(pwd)/.github/workflows/integration_tests/telemetry/sender_config/config_disabled.hocon &
          PID_C2=$!
          sleep 30
          kill $PID_C1 $PID_C2
      - name: assess result
        run: |
          pip install requests
          python3 .github/workflows/integration_tests/telemetry/verify_micro_content.py
      - name: clean up
        run: docker stop micro
