name: test

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: coursier/cache-action@v3
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Stage Docker build (for NoDataLossSpec)
        run: sbt 'project kinesis' 'Docker / stage'
      - name: Run tests
        run: sbt test
      - name: Check formatting
        run: sbt scalafmtCheckAll
